*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.fl1 ul{
	display: flex;
	width: 600px;
	flex-direction:row;
	flex-wrap:wrap;
}
.item1{
	background: #CCC;
}
.item2{
	background: #DDD;
}
.item3{
	background: #EEE;
}
.item4{
	background: #AAA;
}
.fl1 li {
	flex:auto;
	height: 50px;
	width: 200px;
	box-sizing:border-box;
	border:1px solid #CCC;
}
.fl2 ul{
	display: flex;
	width: 230px;
	flex-direction:column;
}
.fl2 li {
	flex:0 0 auto;
	height: 50px;
	width: 200px;
	box-sizing:border-box;
	border:1px solid #CCC;
	/*text-align: center;*/
	display: flex;
	justify-content:center;
	align-items:center;
}
.hahah{
	display: flex;
	width: 100px;
	height: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	justify-content:center;
	align-items:center;
}